body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    background-color: #f4f4f4;
    font-size: 12px;
}

.resume {
    max-width: 900px;
    margin: 4px auto; /* Reduce margin */
    background: #fff;
    padding: 8px; /* Reduce padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    border-bottom: 1px solid #333;
    margin-bottom: 6px;
}

.header h1 {
    margin: 0;
    font-size: 18px;
}

.header p {
    margin: 3px 0;
}

.header a {
    text-decoration: none;
    color: #333;
    margin-left: 5px;
}

.header a i {
    margin-right: 2px;
}

.section {
    margin-bottom: 3px;
}

.section h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 2px;
    margin-bottom: 3px;
    font-size: 14px;
}

.section h3 {
    margin: 0;
    font-size: 12px;
}

.section .date {
    float: right;
    font-style: italic;
    font-size: 10px;
}

.section p, .section ul {
    margin: 3px 0 5px 0;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 2px;
}
